<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>JSharing</title>
		
</head>
	
<body>
	<form>	 	
		 		<table align="center" height="40" width="430" border="0" style="border:solid 4px #66CCFF; margin-top:4%">
	 			<tr>		
	 				<td><input type="text" name="user_id" valu="" placeholder="ID" style="height:40px; width:430px;"/></td>
	 			</tr>
	 			</table>
	 			<table align="center" height="40" width="430" border="0" style="border:solid 4px #66CCFF; margin-top:4%">
	 			<tr>
	 				<td><input type="text" name="user_pw" valu="" placeholder="PW" style="height:40px; width:430px;"></td>
				</tr>
				</table>
				<table align="center" height="40" style="margin-top:1%">
				

				<td><input type="button" name="login" value="로그인" style="height:50px; width:430px;  background-color:#66CCFF; color:black; font-size:16px; border:solid 1px #66CCFF; "></td>
				</tr>
				</table>
				
				<table align="center" height="0" width="440" border="1" style="border:solid 1px #050099; margin-top:2%">
 				</table>

				<table align="center" height="50" style="margin-top:1%" class="mo">
				
  <tr>
   <td><a style="text-decoration:none;" href="member.html">회원가입 | </td> 
   <td><a style="text-decoration:none;" href="주소">아이디 찾기 | </td>
   <td><a style="text-decoration:none;" href="주소">비밀번호 찾기 |</td>
  </tr>

	
</body>
</html>