<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>JSharing</title>
</head>
<body>
	<form action="만든 유저 자료가 보내짐" enctype="text/plain" method="post">
	
	 <table border="2px" bordercolor="gray" align="center">
	 	<tbody>
	 	<tr>
	 		<td colspan="2"	bgcolor="#66CCFF" align="center">회원가입</td>
	 	</tr>	
	 	<tr>
	 		<td bgcolor="lightgrey" align="center">이름</td>
	 		<td><input type="text" name="user_name" valu="" style="height:30px; width:300px;"/></td>
	 	</tr>
	 	<tr>
	 		<td bgcolor="lightgrey" align="center">아이디</td>
	 		<td><input type="text" name="user_id" valu="" style="height:30px; width:300px;"/></td>
		</tr>
		<tr>
			<td bgcolor="lightgrey" align="center">비밀번호</td>
			<td><input type="text" name="user_pw" valu="" style="height:30px; width:300px;"/></td>
		</tr>
		<tr>
			<td bgcolor="lightgrey" align="center">비밀번호확인</td>
			<td><input type="text" name="user_pw2" valu="" style="height:30px; width:300px;"/></td>
		</tr>
		<tr>
			<td bgcolor="lightgrey" align="center">학번입력</td>
			<td><input type="text" name="school_id" valu="" style="height:30px; width:300px;"/></td>
		</tr>
		<tr>
			<td bgcolor="lightgrey" align="center">학생인증</td>
			<td><input type="text" name="mail_check" valu="" style="height:30px; width:300px;"/></td>
		</tr>
	 	
	 	</tbody>
		</table>
	 	
	 	
		<p align="center">
			<input type="submit" name="submit" value="완료"/>
			<input type="submit" name="submit" value="인증"/>
			<input type="reset" name="reset" value="리셋"/>
		</p>			
	
	</form>	
</body>
</html>